@import url(http://fonts.googleapis.com/css?family=Raleway:100);

.header {
  text-align: center;
  font-size: 220%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
  height: 110px;
  width: 100vw;
  background-color: navy;
  font-family: 'FontAwesome', sans-serif;
}

li {
    float: left;
    display: inline;
    width: 100px;
    position: relative;
    left: 28%;
    top: 10px;
    text-align: center;
    padding-left, padding-right: 15px;
}

a {
    text-decoration: none;
    font-family: sans-serif;
    color: #62717A;
    font-size: 110%;
}

a:hover {
    color: navy;
}

section {
    height: 20%;
    width: 20%;
    position: relative;
    top: 10%;
}

.section1 {
    font-family: sans-serif;
    position: relative;
    left: 35%;
    top: 30%;
    text-align: center;
}

.section2 {
    font-family: sans-serif;
    position: relative;
    left: 200%;
    bottom: 130%;
    text-align: center;
}

.section3 {
    font-family: sans-serif;
    position: relative;
    right: -70%;
    top: -18%;
    width: 20%;
    text-align: center;
}

nav {
    position: relative;
    top: 20%;
}

.cityscape {
    width: 20%;
    position: relative;
    left: 40%;
    bottom: 50%;
    
}

.coffee {
    width: 100%;
    position: relative;
    left: 30%;
}

.cityscape:hover, .pastel:hover, .coffee:hover {
    -moz-box-shadow: 0 0 7px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 7px rgba(0,0,0,0.5);
	box-shadow: 0 0 7px rgba(0,0,0,0.5);
	}

.pastel {
    width: 20%;
    position: absolute;
}

#storm {
    position: relative;
    left: 70%;
}

#hall {
    position: relative;
    left: 50%;
}

.link {
    display: block;
    width: 15%;
    float: left;
}

.text {
    position: relative;
    bottom: -0%;
    width: 20%;
    font-family: 'fontAwesome', sans-serif;
    font-size: 18px;
    display: block;
}

#text1 {
    position: relative;
    left: 11%;
}

#world {
    position: relative;
    left: 10%;
}

#piper {
    position: relative;
    left: 27%;
}
    

/* code to enlarge on click 
#enlarge {
    height: 150%;
    width: 150%;
    padding: 10px;
    
}*/

/*--- Skills Section ---*/

.header2 {
    width: auto;
    background-color: #A30000;
    height: 111px;
    text-align: center;
    font-family: 'fontAwesome', sans-serif;
    font-size: 220%;
    color: #fff;
    text-shadow: 0 2px 2px #000;
}

.skillNav {
    top: 30%;
    left: 38.5%;   
    padding-left, padding-right: 25px;
}

.skills {
    height: 7%;
    background-color: lightgray;
}

h2 {
    font-family: 'fontAwesome', sans-serif;
    font-size: 110%;
    color: ;
    text-align: center;
}

.business {
    display: block;
    width: 85%;
    position: relative;
    left: 8%;
    font-family: sans-serif;
    height: 50%;
}
    
.marketing {
    display: block;
    float: left;
    width: 33%;
    text-align: center;
}
  
.header3 {
    width: auto;
    background-color: #31B404;
    height: 111px;
    text-align: center;
    font-family: 'fontAwesome', sans-serif;
    font-size: 220%;
    color: #fff;
    text-shadow: 0 2px 2px #000;
}

.header4 {
    width: auto;
    background-color: #81BEF7;
    height: 111px;
    text-align: center;
    font-family: 'fontAwesome', sans-serif;
    font-size: 220%;
    color: #fff;
    text-shadow: 0 2px 2px #000;
    position: relative;
    
}
   
.contact {
    height: 15%;
    background-color: lightgray;
}
    
.contactNav {
    top: 30%;
    left: 34%;   
    padding-left, padding-right: 100px;
}